<nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
        <a href="<%= root_path %>" class="flex items-center">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Just Blogs</span>
        </a>
        <div class="w-full lg:w-auto lg:flex-1 lg:max-w-lg lg:mx-4 mt-3 lg:mt-0 order-last lg:order-none block">
            <%= form_with url: posts_path, method: :get, local: true, class: "flex items-center" do |f| %>
                <label for="simple-search" class="sr-only">Search</label>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                    </div>
                    <%= f.text_field :query, value: params[:query], placeholder: "Search posts...", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-500 focus:border-violet-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-violet-500 dark:focus:border-violet-500" %>
                </div>
            <% end %>
        </div>
        <div class="flex items-center lg:order-2">
            <% if authenticated? %>
                <span class="text-gray-800 dark:text-white font-medium text-sm mr-4"><%= Current.user.email_address %></span>
                <%= button_to "Log out", session_path, method: :delete, class: "text-white bg-violet-600 hover:bg-violet-700 focus:ring-4 focus:ring-violet-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-violet-600 dark:hover:bg-violet-700 focus:outline-none dark:focus:ring-violet-800" %>
            <% else %>
                <%= link_to "Log in", new_session_path, class: "text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800" %>
                <%= link_to "Sign up", sign_up_path, class: "text-white bg-violet-600 hover:bg-violet-700 focus:ring-4 focus:ring-violet-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-violet-600 dark:hover:bg-violet-700 focus:outline-none dark:focus:ring-violet-800" %>
            <% end %>
        </div>
    </div>
</nav>
