<%= paginator.render do -%>
  <nav aria-label="Page navigation example" class="flex items-center space-x-4">
    <ul class="flex -space-x-px text-sm">
      <%= prev_page_tag unless current_page.first? %>
      <% each_page do |page| -%>
        <% if page.display_tag? -%>
          <%= page_tag page %>
        <% elsif !page.was_truncated? -%>
          <%= gap_tag %>
        <% end -%>
      <% end -%>
      <%= next_page_tag unless current_page.last? %>
    </ul>
    <form class="" action="<%= url_for(request.query_parameters.merge(page: nil)) %>" method="get">
      <div class="flex items-center space-x-2">
          <label for="visitors" class="text-sm font-medium text-body shrink-0">Go to</label>
          <input type="number" name="page" id="visitors" class="bg-neutral-secondary-medium w-10 border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block px-2.5 py-2 shadow-xs placeholder:text-body" placeholder="<%= current_page %>" required min="1" max="<%= total_pages %>" />
          <span class="text-sm font-medium text-body">page</span>
      </div>
    </form>
  </nav>
<% end -%>
